<div class="flex  justify-center px-4 sm:px-6 lg:px-8">
  <div class="w-full lg:max-w-[60%] md:max-w-[100%] ">    
<h2 class="mt-6 text-center text-3xl font-extrabold leading-9 text-gray-700"> Update <%=@course.title%></h2>

<%= render 'form', course: @course %>  </div>
  </div>  