<div class="flex min-h-screen justify-center px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-[60%]">

    
<h2 class="mt-6 text-center text-3xl font-extrabold leading-9 text-gray-700"> Add New Course</h2>


<%= render 'form', course: @course %>
  </div>
  </div>  