/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//= require actiontext
@import "./actiontext.scss";

$tooltip-margin: 10px;
$tooltip-arrow-size: 6px;

.flash {
  position:fixed;
  top: 0.1rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  max-width: 100%;
  width: max-content;
  padding: 1rem;

  &__message {
    font-size: 1.2rem;
    margin: 0 auto;
    color: red;
    animation: appear-then-fade 10s both;
    border-radius: 999px;
  }
}


@keyframes appear-then-fade {
  0%, 100% {
    opacity:0
  }
  5%, 60% {
    opacity:1
  }
}


//Wrapper for the element truncating
.tooltip-wrapper {
  display: flex;
  position: absolute;
}

//Positioning tooltip along with the wrapped element
.tooltip-tip {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  color: #f8f9f9;
  background: #2f3941;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1;
  z-index: 100;
  white-space: nowrap;
  //Adding the tooltip arrow
  &::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: $tooltip-arrow-size;
    margin-left: calc(#{$tooltip-arrow-size} * -1);
  }
  //Style if the tooltip is to be displayed at the top of the wrapped element
  &.top {
    top: calc(#{$tooltip-margin + 15px} * -1);
    left: 50%;
    // Adjusting the tooltip arrow for direction
    &::before {
      top: 100%;
      border-top-color: #2f3941;
    }
  }
  //Style if the tooltip is to be displayed at the right of the wrapped element
  &.right {
    left: calc(100% + #{$tooltip-margin});
    top: 50%;
    transform: translateX(0) translateY(-50%);
    // Adjusting the tooltip arrow for direction
    &::before {
      left: calc(#{$tooltip-arrow-size} * -1);
      top: 50%;
      transform: translateX(0) translateY(-50%);
      border-right-color: #2f3941;
    }
  }

  //Style if the tooltip is to be displayed at the bottom of the wrapped element
  &.bottom {
    bottom: calc(#{$tooltip-margin} * -1);
    // Adjusting the tooltip arrow for direction
    &::before {
      bottom: 100%;
      border-bottom-color: #2f3941;
    }
  }
  //Style if the tooltip is to be displayed at the left of the wrapped element
  &.left {
    left: auto;
    right: calc(100% + #{$tooltip-margin});
    top: 50%;
    transform: translateX(0) translateY(-50%);
    // Adjusting the tooltip arrow for direction
    &::before {
      left: auto;
      right: calc(#{$tooltip-arrow-size} * -2);
      top: 50%;
      transform: translateX(0) translateY(-50%);
      border-left-color: #2f3941;
    }
  }
}


